PL_TEST_BASE_URL="https://mybigcommerce.com/"
PL_TEST_FOOTER_HEADINGS=["About Us", "Our Policies", "Customer Service", "Need Help?"]
PL_TEST_FAQ_URI="faqs"
PL_TEST_FAQ_TITLE="FAQs"
PL_TEST_MENU_HEADINGS=["Dining Room", "Living Room", "Bedroom", "Bathroom", "Kitchen"]
PL_TEST_SEARCH_TERM="Search"
